.errorContainer {
    min-height: 100vh;
    background: #0a1931;
    background: white;
    padding:80px 20px;
    text-align: center;
}
.logo {
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
}
.animationContainer {
    width: 100%;
    max-width: 224px;
    height: 124px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation {
    width: 100%;
    height: 100%;
}
.errorHeading {
    font-size: 36px;
    color: #0a1931;
}
.errorSubheading {
    font-size: 28px;
    font-weight: 500;
    color: #0a1931;
}
.errorMessage {
    font-weight: 500;
    color: #0a1931;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.errorReturnButton {
    display: block;
    width: fit-content;
    margin: auto;
    padding: 10px 42px;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    background: #0079FF;
    cursor: pointer;
    transition: .4s ease-in-out;
}
@media screen and (max-width: 600px) {
    .logo {
        width: 80px;
    }   
    
    .errorHeading {
        font-size: 30px;
        color: white;
    }
    .errorMessage {
        font-size: 16px;
    }
    .errorReturnButton {
        font-size: 16px;
    }
}